include README.md
include curac_utils/data/a2gray.tiff
include curac_utils/data/ct_g.png
include curac_utils/data/ct_fid1.png
include curac_utils/data/ct_fid2.png
include curac_utils/data/mrt_g.png
include curac_utils/data/mrt_fid1_t1.png
include curac_utils/data/mrt_fid2_t1.png
include curac_utils/data/pointcloud1.xyz1
include curac_utils/data/pointcloud2.xyz1
